<html>
    <head>
        <title>Rep App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui inverted menu">
            <div class="header borderless white item">
                <a href="/">Home</a>
            </div>
            <!--<a class="item">-->
            <!--    About Us-->
            <!--</a>-->
            <!--<a class="item">-->
            <!--    Jobs-->
            <!--</a>-->
            <!--<a class="item">-->
            <!--    Locations-->
            <!--</a>-->
        </div>