<% include ./partials/header %>

<div class="ui text center aligned container">
    <p>The website is functional but not finished.</p>
    <p>It will be updated over time.</p>
</div>

<% include ./partials/footer %>